.container {
    display: grid;
    grid-template-rows: 25% min-content 1fr 25%;
    grid-template-columns: 100%;
    row-gap: 1rem;
    height: 100vh;
    width: 100%;

    &__head {
        display: flex;
        justify-content: space-between;
        grid-row: 1/2;
        grid-column: 1/-1;
        background-image: linear-gradient(to bottom right, lightseagreen, lightgreen);
        // height: 100%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    &__breadcrumbs {
        grid-row: 2/3;
        grid-column: 1/-1;
    }

    &__main {
        // positions
        grid-row: 3/4;
        grid-column: 1/-1;

        // subgrid
        display: grid;
        grid-template-rows: 1fr min-content min-content;
        grid-template-columns: 1fr 18%;
        row-gap: 2rem;
        column-gap: 2rem;

        .forums {
            grid-row: 1/2;
            grid-column: 1/2;
        }

        .forum-stats {
            grid-row: 2/3;
            grid-column: 1/2;
        }

        .member-stats {
            grid-row: 3/-1;
            grid-column: 1/2;
        }

        .recent-subjects {
            grid-row: 1/2;
            grid-column: 2/-1;
        }

        .recent-status-updates {
            grid-row: 2/3;
            grid-column: 2/-1;
        }

        .recent-online {
            grid-row: 3/-1;
            grid-column: 2/-1;
        }
    }

    &__foot {
        grid-row: 4/-1;
        grid-column: 1/-1;
    }
}
